
* {margin:0;padding:0;}
.section2 input[id*="slide"] {display:none;}
.section2 .slidewrap {max-width:100%;min-width: 1000px; position:relative;}

.section2 .slidelist {white-space:nowrap;font-size:0;overflow:hidden;}
.section2 .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
.section2 .slidelist > li > a{display:block;}
.section2 .slidelist > li > a img {width:100%;}

.section2 .slidelist .text01 {position:absolute;top:13%;left:12%;transform:translate(-50%,-50%);padding:50px;cursor:pointer;text-align:center;}
.section2 .slidelist .text02 {position:absolute;top:13%;left:30%;transform:translate(-50%,-50%);padding:50px;cursor:pointer;text-align:center;}
.section2 .slidelist .text03 {position:absolute;top:13%;left:45%;transform:translate(-50%,-50%);padding:50px;cursor:pointer;text-align:center;}
.section2 .slidelist .text04 {position:absolute;top:13%;left:61%;transform:translate(-50%,-50%);padding:50px;cursor:pointer;text-align:center;}
.section2 .slidelist .text05 {position:absolute;top:13%;left:75%;transform:translate(-50%,-50%);padding:50px;cursor:pointer;text-align:center;}
.section2 .slidelist .text06 {position:absolute;top:13%;left:90%;transform:translate(-50%,-50%);padding:50px;cursor:pointer;text-align:center;}

.section2 .slidelist .textbox {position:absolute;top:80%;left:50%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
.section2 .slidelist .textbox01 {position:absolute;top:80%;left:50%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
.section2 .slidelist .textbox01 h3 {font-size:36px;color:white;transform:translateY(30px);transition:all .5s;}
.section2 .slidelist .textbox01 p {font-size:16px;color:white;opacity:0;transform:translateY(30px);transition:all .5s;}
.section2 .slidelist .textbox h3 {font-size:36px;color:black;transform:translateY(30px);transition:all .5s;}
.section2 .slidelist .textbox p {font-size:16px;color:black;opacity:0;transform:translateY(30px);transition:all .5s;}

  


.section2 input[id="slide04"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section2 input[id="slide05"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section2 input[id="slide06"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}
.section2 input[id="slide07"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-300%);}
.section2 input[id="slide08"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-400%);}
.section2 input[id="slide09"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-500%);}


.section2 input[id="slide04"]:checked ~ .slidewrap li:nth-child(1) .textbox01 h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section2 input[id="slide04"]:checked ~ .slidewrap li:nth-child(1) .textbox01 p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section2 input[id="slide05"]:checked ~ .slidewrap li:nth-child(2) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section2 input[id="slide05"]:checked ~ .slidewrap li:nth-child(2) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section2 input[id="slide06"]:checked ~ .slidewrap li:nth-child(3) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section2 input[id="slide06"]:checked ~ .slidewrap li:nth-child(3) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section2 input[id="slide07"]:checked ~ .slidewrap li:nth-child(4) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section2 input[id="slide07"]:checked ~ .slidewrap li:nth-child(4) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section2 input[id="slide08"]:checked ~ .slidewrap li:nth-child(5) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section2 input[id="slide08"]:checked ~ .slidewrap li:nth-child(5) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section2 input[id="slide09"]:checked ~ .slidewrap li:nth-child(6) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section2 input[id="slide09"]:checked ~ .slidewrap li:nth-child(6) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}


.section2 .slide-control > div:first-child {display:none; color:white; font-size: x-large; }
.section2 .slide-control > div {display:none; color:black; font-size: x-large; }


.section2 input[id="slide04"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
.section2 input[id="slide05"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
.section2 input[id="slide06"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}
.section2 input[id="slide07"]:checked ~ .slidewrap .slide-control > div:nth-child(4) {display:block;}
.section2 input[id="slide08"]:checked ~ .slidewrap .slide-control > div:nth-child(5) {display:block;}
.section2 input[id="slide09"]:checked ~ .slidewrap .slide-control > div:nth-child(6) {display:block;}

 /* lable {text-decoration: underline;} */


/* 버튼12 */
.section2 button {
    margin: 0px;
  }
.section2 .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;}
  .section2 .btn-12{
    position: relative;
    right: 20px;
    bottom: 0px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .section2 .btn-12 span {
    background: black;
  background: linear-gradient(0deg, black 0%, black 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .section2 .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .section2 .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
.section2 .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .section2 .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }



  .section2 .btn-13{
    position: relative;
    right: 20px;
    bottom: 1px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    color: black;
  }
  .section2 .btn-13 span {
    background: rgb(241, 241, 241);
  background: linear-gradient(0deg, rgb(110, 110, 110) 0%, rgb(211, 211, 211) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .section2 .btn-13 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .section2 .btn-13 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .section2 .btn-13:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .section2 .btn-13:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }